<div class="container">

  <div class="card">
    <div class="card-header">
      <h3><%= @board.title %></h3>
      <table class="table">
        <tr>
          <th>作成日時：<%= @board.created_at.to_s(:datetime_jp) %></th>
          <th>更新日時：<%= @board.updated_at.to_s(:datetime_jp) %></th>
        </tr>
      </table>
    </div>
    <div class="card-body">
      <p class="card-text"><%= simple_format(@board.content) %></p>
      
      <div id="joins_buttons_<%= @board.id %>" class="float-left">
        <%= render partial: 'joins/join', locals: { board: @board} %>
      </div>

      <% if @board.user_id == current_user.id %>
        <div class="float-right">
          <%= link_to '編集', edit_board_path(@board), data: {"turbolinks" => false}, class: 'btn btn-outline-dark'%>
          <%= link_to '削除', board_path(@board) , class: 'btn btn-danger', method: :delete, data: { confirm: '削除しても良いですか？' } %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @board.questionnaire == true %>
    <div class="joiner text-center mb-5">
      <%= link_to '参加者一覧', board_joins_path(@board), class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
